<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPLOAD FILES</title>
</head>
<body>
    <form action="/upload/ic/" method="post" enctype="multipart/form-data">
        <input type="file" id="file1" name="file" data-file_type="json">
        <button type="submit">IC上传</button>

    </form>
    <form action="/upload/ec/" method="post" enctype="multipart/form-data">
        <input type="file" id="file2" name="file">
        <button type="submit">EC上传</button>
    </form>
</body>
</html>